*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    padding: 20px 40px;
    
}

    
.navbar a{
    margin-right: 5px;
}
.search-box{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.search-box button{
    background-color: orange;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    height: 30px;
    width: 60px;
}
.search-box button:hover{
    cursor: pointer;
    background-color: rgb(107, 73, 14);
    transition: 0.4s;
}
input{
    height: 30px;
    width: 300px;
}
.logo{
    font-size: 30px;
    color: orange;
    margin-right: 20px;
}

    

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.hero{
    height: 300px;
    background-color: aquamarine;
    display: grid;
    place-items: center;
    text-align: center;
    
}
.hero h2{
    font-size: 42px;
    font-family: 'Trebuchet MS';
}
.hero p{
    font-size: 20px;
    font-family: 'Segoe UI';
}
.hero button{
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: black;
}
.hero button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
.products-section{
    display: grid;
    place-items: center;
}
.products-section h2{
    margin-bottom: 20px;
}
.product-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 250px 250px 250px;
}
.product-card{
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(5, 6, 5,0.5);
}
.product-card img {
  width: 100px;
  border-radius: 6px;
  margin-bottom: 10px;
}
.product-card button{
    padding: 10px;
    border-radius: 20px;
    background-color: orange;
}
.product-card button:hover{
    background-color:rgb(107, 73, 14);
    cursor: pointer;
    transition: 0.5s;
}
.footer{
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    
}
.contact img{
    width: 30px;
    border-radius: 20px;
    
}
/* Media query*/
@media (max-width:800px) {
    .header {
    grid-template-columns: 1fr;
    text-align: center;
    }
   
    .product-grid{
        grid-template-columns: 1fr auto;
    }
    .search-box{
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 5px ;
        margin-left: 1px;
    }
    
    
    .search-box button{
        width: 50px;
    }
    .footer{
        grid-template-columns: 1fr;
        text-align: center;

    }
}
@media(max-width:400px){
    .search-box{
        width: 300px;
    }
}

